*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #e3f2fd;
}

header{
    background-color: #1c3d5a;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

header h1{
    font-size: 40px;
    color: whitesmoke;
    font-weight: lighter;
}

ol{
    list-style-type: none;
    padding: 0;
}

ol li{
    margin: 10px 0;
    font-style: italic;
}

ol a{
    color: #1c3d5a;
    text-decoration: none;
}
ol a:hover{
    text-decoration: underline;
    color: #0d2538;
}

h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: ;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

img{
    width: 350px;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7{
    display: flex;
    background-color: #e3f2fd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
