* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e3f2fd;
}

header {
    background-color: #1c3d5a;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

nav a{
    text-decoration: none;
    color: #5b90be;
    margin-right: 70px;
    padding: 0;
    padding-left: 2%;
}

nav a:hover{
    font-size: large;
    text-decoration: underline;
}

h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: #1c3d5a;
}

header h1 {
    font-size: 40px;
    color: whitesmoke;
    font-weight: lighter;
}

ol {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ol li {
    margin: 10px 0;
    font-style: italic;
}

ol a {
    color: #1c3d5a;
    text-decoration: none;
}

ol a:hover {
    text-decoration: underline;
    color: #0d2538;
}

.locais{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: #1c3d5a;
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

div img {
    width: 350px;
    margin-left: 10px;
    margin-right: 8px;
    max-height: 470.79px;
}
#crema{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7 {
    display: flex;
    background-color: #e3f2fd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre-crema {
    display: flex;
    gap: 20px;
}

.sobre-viena {
    display: flex;
    gap: 20px;
}

.sobre-hallstat {
    display: flex;
    gap: 20px;
}

.sobre-edimburgo {
    display: flex;
    gap: 20px;
}

.sobre-arizona {
    display: flex;
    gap: 20px;
}

.sobre-cusco {
    display: flex;
    gap: 20px;
}

.sobre-melbourne {
    display: flex;
    gap: 20px;
}

.lado-esquerdo {
    width: 60%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.lado-esquerdo:hover {
    font-size: large;
}

.lado-direito {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 10px;
}

.lado-direito:hover {
    font-size: large;
}

.voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #1c3d5a;
    color: whitesmoke;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bold;
}

.voltar-topo:hover {
    background-color: #45749d;
    width: 55px;
    height: 55px;
}

article li {
    list-style: none;
}

aside li {
    list-style: none;
}

article h3,
h4 {
    background-color: #e3f2fd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: #0d2538;
}

aside a {
    color: #0d2538;
    text-decoration: none;
}

aside a:hover {
    font-size: large;
    font-weight: bold;
}

footer{
    background-color: #1c3d5a;
    margin-bottom: 0;
    padding: 20px;
    text-align: left;
    font-family: monospace;
    color: #e3f2fd;
    font-weight: lighter;
}

.link-rodape{
    text-decoration: none;
    color: #e3f2fd;
}

.link-rodape:hover{
    font-size: large;
}